
<ion-header>
  
  <ion-navbar color="primary">
    <ion-title>{{ collection ? collection.name : 'Public Collection' }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <div *ngIf="!collection && !privacyError" class="blank-slate">
    Loading...
  </div>

  <h3 *ngIf="privacyError" text-center>
    Either this collection does not exist or isn't public.
  </h3>

  <collection-table *ngIf="!privacyError && allItems.length > 0" [allItems]="allItems" [allColumns]="columns"></collection-table>
</ion-content>
