<ion-header>
  <ion-navbar color="primary">

    <button ion-button menuToggle *ngIf="afAuth.authState | async">
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Inveinta - Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div *ngIf="afAuth.authState | async as user; else showLogin">
    <h1>Hello {{ user.displayName || user.email }}!</h1>
    <button (click)="logout()">Logout</button>
  </div>

  <ng-template #showLogin>

    <form [formGroup]="loginInformation" (ngSubmit)="login()">

      <ion-item>
        <ion-label stacked>Email</ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>

      <button margin-top ion-button block (click)="login()" [disabled]="!loginInformation.valid">Login with Email</button>
    </form>

  </ng-template>

</ion-content>
