<ion-header>
  <ion-navbar color="primary">

    <button ion-button menuToggle *ngIf="firebase.authState | async">
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Inveinta - Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div *ngIf="firebase.authState | async as user; else showLogin" full-size true-center>
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <ng-template #showLogin>

    <ion-grid full-width>
      <ion-row full-width>
        <ion-col col-md-6 offset-md-3 true-center>

          <form full-width [formGroup]="loginInformation" (ngSubmit)="login()">

            <ion-item class="no-padding-left">
              <ion-label stacked>Email</ion-label>
              <ion-input type="email" formControlName="email"></ion-input>
            </ion-item>

            <ion-item class="no-padding-left">
              <ion-label stacked>Password</ion-label>
              <ion-input type="password" formControlName="password"></ion-input>
            </ion-item>

            <ion-item color="danger" *ngIf="errorMessage" margin-top padding-left>
              {{ errorMessage }}
            </ion-item>

            <button margin-top ion-button block (click)="login()" [disabled]="!loginInformation.valid">Login with Email</button>
          </form>

        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-template>

</ion-content>
