// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.scroll-content {
  overflow: auto;
}

.greeting-block {
  background: linear-gradient(135deg, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #294457 100%);
  background-size: cover;
  text-align: center;
  height: 160px;

  .label {
    position: relative;
    height: 100%;

    .greeting {
      position: absolute;
      width: 100%;
      bottom: 50%;
    }
  }
}

// otherwise, items do not line up with labels and buttons
.no-padding-left {
  padding-left: 0;
}

[full-size] {
  width: 100%;
  height: 100%;
}

[full-width] {
  width: 100%;
}

[full-height] {
  height: 100%;
}

[true-center] {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .alert-wrapper {
    min-width: 560px;
    max-width: 560px !important;
  }
}
