<ion-split-pane when="lg" [enabled]="firebase.authState | async">
  <ion-menu [content]="content" swipeEnabled="false">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list *ngIf="firebase.authState | async as user">
        <ion-item text-wrap color="primary" class="greeting-block">
          <div class="greeting">Hello, {{ firebase.name }}</div>
        </ion-item>

        <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
          {{ p.title }}
        </button>

        <button ion-item (click)="logout()">Logout</button>

      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-nav [root]="rootPage" main #content swipeBackEnabled="false"></ion-nav>
</ion-split-pane>
