// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.scroll-content {
  overflow: auto;
}

.back-button {
  color: map-get($colors, light) !important;
}

.hidden {
  display: none !important;
}

.pointer {
  cursor: pointer;
}

.greeting-block {
  background: linear-gradient(135deg, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #294457 100%);
  background-size: cover;
  text-align: center;
  height: 160px;

  .label {
    position: relative;
    height: 100%;
    font-size: 2rem;
    letter-spacing: 0.5px;

    .greeting {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      word-break: break-all;
    }
  }
}

// otherwise, items do not line up with labels and buttons
.no-padding-left {
  padding-left: 0;
}

[full-size] {
  width: 100%;
  height: 100%;
}

[full-width] {
  width: 100%;
}

[full-height] {
  height: 100%;
}

[true-center], .blank-slate {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.blank-slate {
  width: 100%;
  height: 100%;
  font-size: 5rem;
  color: #ccc;
}

@media screen and (min-width: 768px) {
  .alert-wrapper {
    min-width: 560px;
    max-width: 560px !important;
  }
}

h1, h2, h3, h4, h5, h6, ion-card-header > strong {
  letter-spacing: 1px;
}

ion-list, ion-list-header {
  margin-bottom: 0 !important;
}

ion-fab {
  position: fixed;

  &[bottom] {
    bottom: 30px;
  }

  &[right] {
    right: 30px;
  }
}
