<ion-searchbar
  [(ngModel)]="itemFilterQuery"
  showCancelButton="true"
  (ionCancel)="updateItemFilter()"
  (ionClear)="updateItemFilter()"
  (ionInput)="updateItemFilter()"
  placeholder="Search for items">
</ion-searchbar>

<ngx-datatable
  #collectionTable
  class="material striped expandable"
  [rows]="visibleItems"
  [limit]="20"
  columnMode="force"
  [cssClasses]="ngxDataTableIcons"
  rowHeight="auto"
  headerHeight="35"
  footerHeight="50"
  [scrollbarH]="true"
  [sorts]="[{prop: 'name', dir: 'asc'}]"
  (tableContextmenu)="tableContextMenu.emit($event, coll)"
>
  <ngx-datatable-row-detail #details>
    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
      <ion-row>
        <ion-col *ngIf="row.descriptionMD">
          <markdown>
            {{ row.descriptionMD || '(no description)' }}
          </markdown>
        </ion-col>

        <ion-col *ngIf="row.imageURL">
          <img [src]="row.imageURL" />
        </ion-col>
      </ion-row>
    </ng-template>
  </ngx-datatable-row-detail>

  <ngx-datatable-column
    *ngIf="shouldExpand"
    [width]="50"
    [resizeable]="false"
    [sortable]="false"
    [draggable]="false"
    [canAutoResize]="false">
    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
      <a
        class="pointer expando"
        [class.hidden]="!canItemExpand(row)"
        title="Expand/Collapse Row"
        (click)="collectionTable.rowDetail.toggleExpandRow(row)">
        <ion-icon [name]="expanded ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
      </a>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column
    *ngFor="let column of displayColumns"
    [sortable]="!column.compute && !column.computeString"
    [name]="column.name">

    <ng-template let-row="row" ngx-datatable-cell-template>
      <div [ngSwitch]="column.type">

          <div *ngSwitchCase="'computed'">
            <a [href]="getComputeString(column, row)" target="_blank">
              {{ column.computeDisplayString || column.computeDisplay(row) }}
            </a>
          </div>

          <div *ngSwitchCase="'number'">
            {{ row[column.prop] || 0 | number }}
          </div>

          <div *ngSwitchCase="'boolean'">
            <span *ngIf="row[column.prop]">
              <ion-icon name="checkmark-circle"></ion-icon> &nbsp;Yes
            </span>
            <span *ngIf="!row[column.prop]">
              <ion-icon name="close-circle"></ion-icon> &nbsp;No
            </span>
          </div>

        <div *ngSwitchCase="'inline-boolean'">
          <ion-toggle *ngIf="canInteract"
                      class="inline-toggle"
                      mode="ios"
                      (ionChange)="updateItemInline(row)"
                      [(ngModel)]="row[column.prop]"></ion-toggle>

          <!-- revert to a plain boolean display if we can't interact with the toggle -->
          <div *ngIf="!canInteract">
            <span *ngIf="row[column.prop]">
              <ion-icon name="checkmark-circle"></ion-icon> &nbsp;Yes
            </span>
            <span *ngIf="!row[column.prop]">
              <ion-icon name="close-circle"></ion-icon> &nbsp;No
            </span>
          </div>
        </div>

          <div *ngSwitchDefault>{{ row[column.prop] }}</div>
      </div>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
